# --- Скомпільовані об'єктні файли ---
*.o
*.tmp

# --- Скомпільовані бінарники ---
*.bin
*.efi
*.iso
*.img

# --- Віртуальні диски ---
*.vhd
*.vmdk
*.vdi

# --- Емулятори та чужі бінарники ---
qemu/

# --- Тимчасові файли твого батніка ---
mount_vhd.txt
unmount_vhd.txt

# --- Локальні налаштування редакторів ---
.vscode/
.idea/